body {
  margin: 0px;
  padding: 0px;
}
/* navigation bar code */
ul {
  list-style-type: none;
  text-decoration: none;
}
.nav-link {
  color: white;
  font-size: 20px;
}
.hover-link ul li a :hover {
  color: blue;
}
#navigation {
  background-color: rgb(0, 0, 0);
}
.navbar-brand {
  font-family: Nunito Sans, serif;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  color: rgb(11, 241, 226);
}
.nav-item {
  padding-right: 20px;
}
.navbar-nav {
  margin-left: auto;
}
/* first page introduction section of the page  */
.background-image {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

.intro {
  position: absolute;
  margin-top: 300px;
  font-family: serif, Verdan;
}
.intro > div p {
  color: white;
}
.intro-head {
  font-size: 2rem;
}
.intro-heading {
  font-size: 3rem;
}
/* second page about section of the page */
.about-text {
  white-space: normal;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  text-align: justify;
}
.about-heading,
.skill-heading,
.details-heading {
  text-align: center;
  font-family: Nunito Sans, serif;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(13, 29, 29);
}
hr {
  margin: auto;
  border: 1px solid black;
  width: 200px;
}
/*third page skill section of the page */
.skill {
  background-color: rgb(17, 220, 235);
}
.skill-heading,
.tecskill-heading,
.personal-heading,
.qualification-heading,
.contact-heading {
  text-align: center;
}
.skill-text,
.details-text {
  white-space: normal;
  font-family: Verdana, sans-serif;
  text-align: justify;
}
/* contact form  */
.contact {
  background-color: rgb(199, 199, 202);
}
.contact-form {
  margin: auto;
  text-align: center;
}
/* footer */
.main-footer {
  background-color: rgba(0, 0, 0, 0.817);
}
.footer-text {
  color: whitesmoke;
  font-size: 20px;
  text-align: end;
}
.footer-container {
  padding: 20px 0 20px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.footer-end {
  color: whitesmoke;
  text-align: center;
}
