body {
  margin: 0px;
  padding: 0px;
}
/* navigation bar code */
.navbar {
  background-color: #2c3e50;
}
ul {
  list-style-type: none;
  text-decoration: none;
  font-family: Nunito Sans, serif;
}
.nav-link {
  color: white;
  font-size: 20px;
}
.navbar-brand {
  font-family: Nunito Sans, serif;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  color: rgb(11, 241, 226);
}
.nav-item {
  padding-right: 20px;
}
.navbar-nav {
  margin-left: auto;
}
/* first page introduction section of the page  */
.background-image {
  /* background-image: url("background.jpg");
  background-size: cover;
  background-position: center; */
  height: 600px;
  background-color: black;
}

.intro-container {
  position: absolute;
  margin-top: 250px;
  width: 100%;
  height: auto;
}
.intro-wellcome {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: Lobster;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.intro-head {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: Lobster, serif;
}
.brand {
  font-size: 3rem;
  font-family: Lobster, serif;
  color: white;
}
.intro-sentence {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: Lobster;
}
/* second page about section of the page */
.about-text {
  white-space: normal;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  text-align: justify;
}
.about-heading,
.skill-heading,
.details-heading {
  text-align: center;
  font-family: Nunito Sans, serif;
  font-size: 5rem;
  color: rgb(14, 16, 16);
}
hr {
  margin: auto;
  border: 1px solid black;
  width: 200px;
}
/*third page skill section of the page */
.skill {
  background-color: rgb(17, 220, 235);
}
.skill-heading,
.tecskill-heading,
.personal-heading,
.qualification-heading,
.contact-heading {
  text-align: center;
  font-family: Nunito Sans, serif;
}
.skill-text,
.details-text {
  white-space: normal;
  font-family: Verdana, sans-serif;
  text-align: justify;
}
/* contact form  */
.contact {
  background-color: rgb(199, 199, 202);
}
.contact-form {
  margin: auto;
  text-align: center;
}
/* footer */
.main-footer {
  background-color: #213343;
}
.footer-text {
  color: whitesmoke;
  font-size: 16px;
}
.footer-container {
  padding: 20px 0 20px;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.footer-end {
  color: whitesmoke;
  text-align: start;
  background-color: #0c2461;
  padding: 5px 0px 5px 10px;
}
.footer-heading {
  font-family: Nunito Sans, serif;
}
/* media query */
@media (max-width: 765px) {
  .formsize {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .footer-text,
  .footer-heading {
    text-align: center;
  }
}

@media only screen and (max-width: 930px) {
  .brand {
    font-size: 2rem;
  }
}
@media only screen and(min-width: 400px) {
  body {
    width: 100%;
  }
}
