body {
  margin: 0px;
  padding: 0px;
}
/* navigation bar code */
.navbar {
  background-color: aqua;
}
ul {
  list-style-type: none;
  text-decoration: none;
  font-family: Nunito Sans, serif;
}
.nav-link {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
a:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
}
.navbar-brand {
  font-family: Nunito Sans, serif;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  /* color: rgb(11, 241, 226); */
  color: black;
}
.nav-item {
  padding-right: 20px;
}
.navbar-nav {
  margin-left: auto;
}
/* first page introduction section of the page  */
.background-image {
  /*
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;*/
  height: 90vh;
  background-color: black;
}

.intro-container {
  padding-top: 220px;
  position: absolute;
  width: 100%;
  align-items: center;
}
.intro-wellcome {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: Lobster;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
}
.intro-head {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: Lobster, serif;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
}
.brand {
  font-size: 3rem;
  font-family: Lobster, serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
}
.intro-sentence {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: Lobster;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
}
li {
  text-decoration: none;
  display: block;
  padding: 5px;
}
.icons {
  position: absolute;
  display: flex;
  right: 10px;
  width: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: mymove 5s;
}
@keyframes mymove {
  from {
    right: -50px;
  }
  to {
    right: 10px;
  }
}
/* second page about section of the page */
.about-text {
  white-space: normal;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  text-align: justify;
}
.about-heading,
.skill-heading,
.details-heading {
  text-align: center;
  font-family: Nunito Sans, serif;
  font-size: 5rem;
  color: rgb(14, 16, 16);
}
hr {
  margin: auto;
  border: 1px solid black;
  width: 200px;
}
/*third page skill section of the page */
.skill {
  background-color: rgb(17, 220, 235);
}
.skill-heading,
.tecskill-heading,
.personal-heading,
.qualification-heading,
.contact-heading {
  text-align: center;
  font-family: Nunito Sans, serif;
}
.skill-text,
.details-text {
  white-space: normal;
  font-family: Verdana, sans-serif;
  text-align: justify;
}
/* contact form  */
.contact {
  background-color: rgb(199, 199, 202);
}
.contact-form {
  margin: auto;
  text-align: center;
}

/* footer */
.main-footer {
  background-color: #213343;
}
.footer-text {
  color: whitesmoke;
  font-size: 16px;
}
.footer-container {
  padding: 20px 0 20px;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.footer-end {
  color: whitesmoke;
  background-color: #0c2461;
  padding: 5px 0px 5px 10px;
}
.footer-heading {
  font-family: Nunito Sans, serif;
}
/* media query */
@media (max-width: 765px) {
  .formsize {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .footer-text,
  .footer-heading {
    text-align: center;
  }
}

@media only screen and (max-width: 930px) {
  .brand {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  li {
    text-decoration: none;
    display: inline;
    padding: 6px;
  }
  .icons {
    position: absolute;
    margin-top: 500px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    animation: mymove 5s;
  }
  @keyframes mymove {
    from {
      right: -50px;
    }
    to {
      right: 10px;
    }
  }
}
